.table {
	font-size: 14px;
	background: linear-gradient(-45deg, #fff, #00008B);	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin: 0 auto 20px;
}

.table thead {
transition: .3s linear;
}

	.table_home {
		border: 1px solid #6cf;
	}

	.table_home thead td {
		font-weight: normal;
		color: #fff;
		text-transform: uppercase;
		border-right: 1px solid #0865c2;
		border-top: 1px solid #0865c2;
		border-left: 1px solid #0865c2;
		border-bottom: 1px solid #0865c2;
		text-align: center;
		padding: 20px;
	}

	.table_home td {
		color: #fff;
		border-right: 1px dashed #6cf;
		padding: 10px 20px;
	}